@typeparam TItem

@if (List == null)
{
    if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        <span class="spinner-grow"></span>
    }
}
else if (List.Count == 0)
{
    if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        <span class="row">The List is Empty</span>
    }
}
else
{
    foreach (var element in List)
    {
        @ElementTemplate(element)
    }
}

@code {
    [Parameter]
    public RenderFragment NullTemplate { get; set; }
    [Parameter]
    public RenderFragment EmptyTemplate { get; set; }
    [Parameter]
    public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter]
    public List<TItem> List { get; set; }
}
