@inject IJSRuntime js
@inject IMovieRepository movieRepo


    <div class="movies-container">
        <GenericList List="Movies">
            <ElementTemplate Context="movie">
                <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" @key="movie.Id"></IndividualMovie>
            </ElementTemplate>
        </GenericList>
    </div>




@code{

    [Parameter]
    public List<Movie> Movies { get; set; }

    protected async Task DeleteMovie(Movie movie)
    {
        await js.MyFunction("custom message");
        var confirmed = await js.Confirm($"Are you sure want to delete {movie.Title}?");

        if (confirmed)
        {
            await movieRepo.DeleteMovie(movie.Id);
            Movies.Remove(movie);
        }

    }


}

