@page "/"
@inject IMovieRepository Repository

<h1>Hello, world!</h1>

Welcome to your new app.


<MoviesList Movies="movies" >

</MoviesList>


@code {
    protected List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        //await Task.Delay(2000);
        movies = Repository.GetMovies();

        Console.WriteLine("Oninitialized " + movies.Count);
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet " + movies.Count);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("On afterRender " + "firsREnder=" + firstRender.ToString());
    }
    protected override bool ShouldRender()
    {
        return true;
    }

}