@page "/"
@inject IMovieRepository Repository

    <div>
        <h3>Movie</h3>
        <MoviesList Movies="movies">

        </MoviesList>
    </div>





@code {
    protected List<Movie> movies;
    protected override void OnInitialized()
    {

        movies = Repository.GetMovies();

        
    }


}