@page "/"
@inject IMovieRepository movieRepo

<AuthorizeView>
    <Authorized>
        You are Authorized @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        You are not Authorized
    </NotAuthorized>
</AuthorizeView>



<div>
    <h3>In Theathers</h3>
    <MoviesList Movies="InTheathers">

    </MoviesList>
</div>
<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="UpcomingReleases">

    </MoviesList>
</div>

@code {
    protected List<Movie> InTheathers;
    protected List<Movie> UpcomingReleases;
    protected override async Task OnInitializedAsync()
    {
        var response = await movieRepo.GetIndexPageDto();

        InTheathers = response.InTheaters;
        UpcomingReleases = response.UpcomingReleases;
    }

}