@page "/People/CreatePerson"
@inject IPersonRepository personRepo
@inject NavigationManager navmanager
@attribute [Authorize]
<h3>CreatePerson</h3>
<PersonForm Person="Person" OnValidSumbit="Create" />

@code {
    Person Person = new Person();
    private async Task Create()
    {
        try
        {
            Console.WriteLine("Creating Person......");
            await personRepo.CreatePerson(Person);
            navmanager.NavigateTo("People");
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }

    }
}
