@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepo
@inject NavigationManager navMan
@attribute [Authorize]
<h3>EditPerson</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSumbit="Edit"></PersonForm>
}


@code {
    [Parameter] public int PersonId { get; set; }
    Person Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await personRepo.GetPersonById(PersonId);
    }

    protected async Task Edit()
    {
        await personRepo.UpdatePerson(Person);
        navMan.NavigateTo("/People");
    }

}
