@page "/People"
@inject IPersonRepository personRepo


<h3>PeopleIndex</h3>
<div>
    <a href="People/CreatePerson" class="btn btn-primary">Create Person</a>
</div>

<GenericList List="People">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in People)
                {
                <tr>
                    <td>@person.Name</td>
                    <td>
                        <a class="btn btn-primary">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code { 
    public List<Person> People { get; set; }
    protected override async Task OnInitializedAsync()
    {
        People= await personRepo.GetPeople();



    }
}
