<EditForm  Model="Person" OnInvalidSubmit="OnValidSumbit">
    <div class="form-group">
        <label for="name">Name</label>
        <div>
            <InputText id="name" class="form-control" @bind-Value="Person.Name"></InputText>
            <ValidationMessage For="@(()=>Person.Name)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label for="BirthDay">Date of Birth</label>
        <div>
            <InputDate id="BirthDay" class="form-control" @bind-Value="Person.DateOfBirth"></InputDate>
            <ValidationMessage For="@(()=>Person.DateOfBirth)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <InputImage Label="Picture" OnSelectedImage="OnSelectedImage" imageURL="@imageURl"/>
    </div>
    <div class="form-group form-markdown">
        <InputMarkDown @bind-Value="Person.BioGraphy" For="@(()=>Person.BioGraphy)" Label="BioGraphy"></InputMarkDown>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</EditForm>



@code{
    [Parameter] public Person Person { get; set; }
    [Parameter] public EventCallback OnValidSumbit { get; set; }
    string imageURl;

    protected override void OnInitialized()
    {
        imageURl = Person.Picture;
        Person.Picture = null;
    }


    void OnSelectedImage(string imageBase64)
    {
        Person.Picture = imageBase64;
        imageURl = null;
        Console.WriteLine("Image64");
    }
}