@page "/genre/create"
<h3>CreateGenre</h3>

<GenreForm Genre="Genre" OnValidSubmit="Create"></GenreForm>

@code {
    private Genre Genre=new Genre();
    private void Create()
    {
        Console.WriteLine("Create method fired");
        Console.WriteLine(Genre.Name);
    }
}
