@page "/Genre/Edit/{GenreID:int}"
<h3>EditGenre</h3>
@if (Genre != null)
{
    <GenreForm OnValidSubmit="Edit" Genre="Genre"></GenreForm>
}


@code {
    [Parameter] public int GenreID { get; set; }
    public Genre Genre { get; set; }
    protected override void OnInitialized()
    {
        Genre = new Genre { Id = GenreID, Name = "Comedy" };

    }
    private void Edit()
    {
        Console.WriteLine("Edit Genre Fired");
        Console.WriteLine(Genre.Id);
        Console.WriteLine(Genre.Name);
    }

}
