@page "/Genre/Edit/{GenreID:int}"
@inject IGenreRepository genreRepo
@inject NavigationManager navMan

<h3>EditGenre</h3>
@if (Genre != null)
{
    <GenreForm OnValidSubmit="Edit" Genre="Genre"></GenreForm>
}


@code {
    [Parameter] public int GenreID { get; set; }
    public Genre Genre { get; set; }
    protected async override Task OnInitializedAsync()
    {
        Genre = await genreRepo.GetGenre(GenreID);

    }
    private async Task Edit()
    {
        await genreRepo.UpdateGenre(Genre);
        navMan.NavigateTo("/genres");
        Console.WriteLine("Edit Genre Fired");
        Console.WriteLine(Genre.Id);
        Console.WriteLine(Genre.Name);
    }

}
